* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f5f8ff;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

#search-container {
    margin: 1em 0;
}

#search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em; 
}

#search-container input:focus {
    border-bottom-color: #FF7262
}

#search-container button {
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #FF7262;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 0.5em;
}

.button-value {
    border: 2px solid #FF7262;
    padding: 1em 2.2em;
    border-radius: 3em;
    background-color: transparent;
    color: #FF7262;
    cursor: pointer;
}

.active {
    background-color: #6759ff;
    color: #ffffff;
}